.sec {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: rgba(153, 153, 153, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
    overflow: hidden;
    background-color: black;
    margin-bottom: 20px;
    max-width: 320px;
}

.infoTopCard {
    display: flex;
    justify-content: space-between;
    padding:0 20px;
    align-items: center;
    width:100%;
    margin-bottom: 20px;
    font-weight: 200;
    
    div b{
        font-weight: 700;
        color:var(--white-5);
    }
    div{
        display:flex;
        flex-direction: column;
        text-align: center;
    
        h5 {
            margin-bottom: 5px;
            color: var(--white-5);
        }
    
        span {
            color: var(--white-6);
            font-size: var(--text-sm);
        }
    
    }

    img{
        width:20px;
        opacity:0.7;
    }

}

.advice{
    text-align: center;
    margin-top:15px;
    margin-bottom: 20px;
    color:var(--white-5);
    font-weight: 200;
}

.paragraph {
    padding: 15px 15px;
    margin: 6px;
    background-color: var(--white-1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid var(--white-2);
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
        line-height: 1.5;
        font-weight: 600;
        color: var(--white-5);

        span {
            color: var(--white-8);
            border-bottom: 1px solid var(--white-3);
        }

    }

    p {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6px;
        margin-bottom: 6px;
        background-color: var(--white-1);
        padding:6px 18px 6px 10px;
        border-radius: 2px;
        color: var(--white-5);
        font-weight: 300;

        b {
            font-weight: 600;
            color: var(--white-5);
        }

        b:nth-of-type(1) {
            color: var(--white-8);
        }


    }

    img {
        width: 10px;
        opacity: 0.5;
    }

    div section {
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: auto auto;
        gap:10px;
    }




}

.paragraph {


    div section:nth-child(even) {
        img {
            margin-right: 10px;
        }
    }

}



.question {
    color: var(--white-8);

    p {
        background-color: rgb(42, 42, 42);
        margin: 6px 6px;
        padding: 14px 10px;
        border-bottom: 1px solid var(--white-2);
        font-weight: 200;
        line-height: 1.4;
    }

    margin-bottom: 10px;

}

.answer {
    color: var(--white-4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 20px 30px 20px;
    font-weight: 300;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        img {
            opacity: 0.6;
        }

        img:nth-of-type(1) {
            width: 80px;
        }

        img:nth-of-type(2) {
            width: 20px;
        }

    }

    input {
        display: none;
    }
}


.third_card,
.fourth_card {
    video {
        height: 300px;
        object-fit: cover;
        width: 100%;
    }

    .paragraph {
        padding: 0;
        margin: 0;
    }
}



@keyframes moveGradient {
    0% {
        background-position: 200% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animated_text {
    background: linear-gradient(20deg, #606060, #606060, #606060, #606060, #ededed, #ededed, #606060, #606060, #606060, #606060);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}