.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    word-wrap: break-word;
    background-color: rgba(153, 153, 153, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
    overflow: hidden;
    background-color: black;
    margin-bottom: 20px;
    max-width: 320px;
}

.topInfoCard {
    color: var(--white-7);
    font-weight: 200;
    margin-bottom: 20px;
}

.bottomInfoCard {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    gap: 15px;
    width: 100%;
    margin-bottom: 30px;
    font-weight: 200;
    color: var(--white-5);

    div {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 30px;
        opacity: 0.8;
    }

}

.advice {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    color: var(--white-5);
    font-weight: 200;
}

.header {
    margin: 3px;
    background-color: var(--white-1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid var(--white-2);
    display: flex;
    flex-direction: column;

    h2 {
        line-height: 1.5;
        font-weight: 600;
        color: var(--white-5);
        padding: 15px 18px 25px 18px;

        span {
            color: var(--white-8);
        }
        
    }


    img {
        width: 10px;
        opacity: 0.5;
    }

}

.header .explanation {
    display: flex;
    flex-direction: column;
    padding: 0 18px 20px 18px;
    gap: 20px;
    color: var(--white-5);
    font-weight: 300;
    overflow-wrap: anywhere;
    /* Will cut the string when it necessary to avoid loss the complete word*/

    section div {
        display: flex;
        max-width: fit-content;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--white-3);

        h3 {
            flex-wrap: wrap;
            color: var(--white-8);
        }

        b {
            font-weight: 600;
        }
    }
}



.question {
    color: var(--white-8);

    /* rgb(42, 42, 42) */

    p {
        background-color: rgb(42, 42, 42);
        margin: 6px 6px;
        padding: 14px 10px;
        border-bottom: 1px solid var(--white-2);
        font-weight: 200;
        line-height: 1.4;
    }


}

.answer {
    input {
        display: none;
    }
}

.answer__input {
    border-top: 1px solid var(--white-2);
    display: flex;
    justify-content: space-between;
    gap: 10px;

    span {
        padding: 20px;
        font-size: 14px;
        color: var(--white-6);
    }

    div {
        display: flex;
        align-items: center;
        border-left: 1px solid var(--white-3);
        padding: 0 24px;
    }

    img {
        width: 25px;
        height: 25px;
        opacity: 0.7;
    }
}


.third_card,
.fourth_card {
    video {
        height: 300px;
        object-fit: cover;
        width: 100%;
    }

    .paragraph {
        padding: 0;
        margin: 0;
    }
}