.cardsCarrousel {
    display: flex;
    align-items: center;
    height: 600px;
    overflow-x: auto;
    gap: 25px;
    margin-top: 15px;

    .countryFlag {
        width: 30px;
        height: 30px;
        border-radius: 25px;
        border: 1px solid var(--white-4);
        opacity: 0.9;
    }

    .infoIcon {
        width: 20px;
        height: 25px;
        margin-right: 6px;
    }

    .countryIcon {
        width: 12px;
        height: 10px;
    }

    /* direct child selector because if we have another sections inside of this section also will be applied*/
    >section:first-child {
        padding-left: 30px;
    }

    >section:last-child {
        padding-right: 20px;
    }

}

.languageCard {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 450px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    border: 1px solid var(--white-3);

}

.languageCard header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    border-bottom: 1px solid var(--white-3);
    z-index: 10;
    background-color: var(--black-6);
    backdrop-filter: blur(2px);

    .infoLanguage {
        display: flex;
        flex-direction: column;
    }
}

.countryBackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height:70px;
}

.infoLanguage {
    color:white;
    section {
        display: flex;
        align-items: center;
        gap: 4px;

        span {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    span {
        color: var(--white-6);
        font-size: 13px;
    }
}

.languageCard header>section {
    display: flex;
    align-items: center;
    gap: 10px;
}


.languageCard main{
    display:flex;
    flex-direction: column;
    position:relative;
}

.dark_map{
    position:absolute;
    left:0;
    top:0;
    z-index:-2;
    opacity:0.3;
    object-position:center;
    object-fit:cover;
    width:100%;
    height:100%;
}

.sec_one{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 15px;
    margin-top:20px;
    margin-bottom: 50px;

    article {
        display: flex;
        align-items: start;
        gap: 6px;
        width: fit-content;
    }

    article:nth-of-type(2) {
        display: flex;
        justify-content: end;
        text-align: end;
        align-self: end;
    }

    article div {
        background-color: var(--white-2);
        border-radius: 6px;
        padding: 12px 12px;
        display: flex;
        flex-direction: column;
    }

    article:nth-of-type(1) div {
        border-top-left-radius: 0;
        padding-right: 30px;
    }

    article:nth-of-type(2) div {
        border-top-right-radius: 0;
        padding-left: 30px;
    }

    article h5,
    span {
        font-size: var(--text-sm);
        font-weight: 500;
        color: var(--white-7);
    }

    article span{
        color: var(--white-5);
    }

    article h5 {
        margin-bottom: 4px;
    }

    article div p {
        color: var(--white-9);
    }

    article img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;

    }

    p {
        font-weight: 700;
        font-size: var(--text-lg);
    }

}

.sec_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    h5 {
        margin-bottom: 10px;
        font-weight: 300;
    }

    section {
        display: flex;
        gap: 15px;
    }

    section div {
        display: flex;
        gap: 4px;
    }

    section div span {
        border-radius: 4px;
        padding: 4px 6px;
        font-weight: 200;
        font-size: var(--text-md);
        background-color: var(--white-2);
    }
}

.sec_three{
    background-color: var(--black-7);
    padding:20px;
    margin:0 5px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    span {
        font-size: var(--text-sm);
        color: var(--white-7);
        margin-top: 14px;
        font-weight: 200;
    }
}

.header{
    position:relative;
    margin:0 30px;
}


.header::before{
    content: "";
    position: absolute;
    left:0;
    right:0;
    top:-30px;
    height:1px;
    background: #333;
}

.header::after{
    content:"";
    position:absolute;
    left:0;
    top:-60px;
    width:1px;
    height:150px;
    background:#333;
}