.hero {
    margin: 30px 10px 80px 30px;
    position:relative;
}

.greeting {
    color: var(--white-4);
    font-size: var(--text-2xl);
    font-weight: 700;

    span {
        color: var(--white-8);
    }

    p{
        display:flex;
        align-self: start;
    }
    .date {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 10px;
        font-weight: 300;
        background-color: var(--white-1);
        border:1px solid var(--white-2);
        height: fit-content;
        padding:4px 4px;
        border-radius: 5px;
    }
}

.training{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    
    button{
        margin-top: 30px;
    }
}

.hero_square{
    position:absolute;
    right:20px;
    bottom:-40px;
    opacity:0.8;
    width:200px;

}
