.hero {
    margin: 0 30px 120px 30px;
    position:relative;
}

.greeting {
    color: var(--white-4);
    font-size: var(--text-2xl);
    font-weight: 700;
    position:relative;

    span {
        color: var(--white-8);
    }

    p{
        display:flex;
        align-self: start;
    }
    .date {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 10px;
        font-weight: 300;
        background-color: var(--white-1);
        border:1px solid var(--white-2);
        height: fit-content;
        padding:4px 4px;
        border-radius: 5px;
    }
}

.greeting::before{
    content: "";
    position: absolute;
    left:0;
    right:0;
    bottom:-30px;
    height:1px;
    background: #333;
}

.greeting::after{
    content:"";
    position:absolute;
    right:0;
    bottom:-60px;
    width:1px;
    height:130px;
    background:#333;
}

.training{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    
    button{
        margin-top: 30px;
    }

    .header-basic span{
        font-size:var(--text-sm);
    }
}

