.navbarSec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 10px 6px 14px;
    margin-bottom: 10px;
    background-color: var(--black-1);
    border-bottom: 1px solid var(--white-2);
    z-index: 10;
    position: relative;
}

.navbarSec .userInfo {
    display: flex;
    align-items: center;
    gap: 10px;

    h3 {
        font-size: var(--text-md);
        line-height: 0.7;
        margin-bottom: 4px;
    }

    p {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1px;

        span:nth-of-type(2) {
            color: var(--white-3);
        }
    }

    span {
        font-size: var(--text-sm);

        img {
            width: 14px;
        }
    }
}

.navbarSec div {
    color: var(--white-h);

    p {
        display: flex;
        align-items: center;
        gap: 5px;
        color: rgb(175, 175, 175);
    }

}

.navbarSec .pictureProfile {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 2px;
}

.navbarSec .menuIcon {
    width: 30px;
    height: 45px;
}

.navbarSec .countryIcon {
    width: 16px;
    height: 12px;
    border-radius: 2px;
}


.list {
    display: none;
}

.open {
    position: absolute;
    z-index: 15;
    right: 0;
    top: 4.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--black-6);
    backdrop-filter: blur(15px);
    gap: 40px;
    padding: 30px 40px;
    text-align: end;
    list-style: none;
    font-size: var(--text-lg);
    font-weight: 200;
    height: 100vh;
    width: 100vw;



    details {
        div {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        a {
            color: var(--white-3);
        }
    }

    summary {
        list-style: none;
        color: var(--white-5);
        display:flex;
        justify-content: end;
        gap:15px;
        img{
            width:10px;
        }
    }
}