.navbarSec {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 20px;
    background-color: var(--black-1);
    z-index: 10;
    position: relative;
    margin-bottom: 30px;
}

.navbarMenu {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--white-2);
    border-top: 3px solid var(--white-2);
    border-bottom: 3px solid var(--white-2);

    border-radius: 2px;
    height: 55px;
    width: 90vw;
    box-shadow: 0 30px 40px rgb(37, 37, 37);
}

.pictureProfile {
    border-right: 1px solid var(--white-3);
    padding: 2px;
    display: flex;
    align-items: center;

    a {
        height: 100%;
    }

    img {
        width: 40px;
        height: 100%;
        object-fit: cover;
    }
}


.userInfo {
    padding: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;

    span {
        color: var(--white-5);
        font-size: var(--text-sm);
    }
}

.languageOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: var(--text-sm);
    border-left: 1px solid var(--white-3);
    width: 60px;


    span {
        font-weight: 700;
        font-size: var(--text-md);
        color: var(--white-7);
        z-index: 5;
        margin-bottom: 5px;
    }

    img {
        width: 60%;
        height: 14px;
        opacity: 0.7;
        object-fit: cover;
        object-position: top;
        padding-bottom: 2px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
}




.navigationMenu {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--white-3);
    padding: 0 6px;
    justify-self: end;

    img {
        width: 30px;
        height: 35px;
        opacity: 0.7;
    }
}

.navbarMenu div {
    display: flex;
}



.navbarSec .countryIcon {
    width: 16px;
    height: 12px;
    border-radius: 2px;
}


.list {
    display: none;
}

.open {
    position: absolute;
    z-index: 15;
    right: 0;
    top: 4.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--black-6);
    backdrop-filter: blur(15px);
    gap: 40px;
    padding: 30px 40px;
    text-align: end;
    list-style: none;
    font-size: var(--text-lg);
    font-weight: 200;
    height: 100vh;
    width: 100vw;



    details {
        div {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        a {
            color: var(--white-3);
        }
    }

    summary {
        list-style: none;
        color: var(--white-5);
        display: flex;
        justify-content: end;
        gap: 15px;
    }
}

summary img {
    width: 10px;

}



.app_language li a {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 10px;

    img {
        width: 20px;
        height: 20px;
        border-radius: 20px;
    }
}